<!-- views/pages/user.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); -%>
</head>
<body class="container-fluid" style="padding-left: 5%;padding-right: 5%">

<header>
    <%- include('../partials/header'); -%>
</header>

<main>
    <div class="jumbotron">
        <h1>Gestion utilisateurs</h1>
        <h2>Liste utilisateurs</h2>
        <%- include('listUser'); -%>
        <h2>Création utilisateur</h2>
        <%- include('createUser'); -%>
        <h2></h2>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); -%>
</footer>

</body>
</html>
